
body{
  background-color: #F5F5DC;
  font-family: Arial, Helvetica, sans-sarif;
  margin: 10% 05%
}

.exp-header {
  text-align: Center;
  text-transform: Uppercase;
  font-size: 25;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0,0.5)
 
}

h1{
  color: #66BFBF;

}
h3{
  color: #66BFBF;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color:gray;
  border-width: 10px;
  width: 5%;
}
