body{
  background-color: 	#AEC6CF;
  font-family: Arial, Helvetica, sans-sarif;
  margin: 10% 05%
}

.profile-image {
    width: 80%;
    border-radius: 50%;
    border: 8px solid #1B2631;
}

.exp-header {
  text-align: Center;
  text-transform: Uppercase;
  font-size: 20x;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: 	#01B0BB;
  padding: 1px;
  margin: 1px;
}
 
.name {
  color: 	black;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
    

.summary{
  font-size:25px
}

em{
  font-size: 20px
}

*{
  box-sizing: border-box;
}


.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
  
  
}

td{
  font-size: 20px;
}

ul{
  font-size: 19px;
}

#hs{
  font-size: 15px;
}
